doctype html
html(lang='es')
  head
    title GENTO
    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/inicio.css')
    link(rel='stylesheet', href='/css/explorar.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='gento, ropa para hombres, asesoria de estilo, e-commerce, fashion')
    meta(name='description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(name='author', content='Gento')
    meta(property='og:title', content='GENTO')
    meta(property='og:description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(property='og:image', content='https://trello-attachments.s3.amazonaws.com/589191fc28092a79ef050122/450x450/c14126b7f86ab109ac04e0ade59dd4e7/GENTOFUTURE.png')
  body
    header
      #header-web-gento.navbar-fixed
        nav.black
          .nav-wrapper
            a.brand-logo(href='#!')
              img(src='/img/inicio/header/logo.png', alt='')
            a.button-collapse.icono-button(href='#', data-activates='mobile-demo', onclick='buttonChange()')
              i.material-icons.icono menu
            ul.right.hide-on-med-and-down
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
            ul#mobile-demo.side-nav.side-nav-content
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
    main
      // NOTE: VENTANAS DE COMPRAS
      .row.container.compras
        .col.l6.m9.s12.vistaCompleta
          img.materialboxed(data-caption='#{data[0].descripcion}', width='250', src='#{data[0].mainImg}')
        .col.l2.m3.s12.center
          .vistaPrendas.center
            .col.l12.center
              img(src='/img/comprar/01.jpg', alt='')
            .col.l12.center
              img(src='/img/comprar/02.jpg', alt='')
            .col.l12.center
              img(src='/img/comprar/03.jpg', alt='')
        .col.l4.m12.s12
          .comprasTitle.helvetica3
            p #{data[0].nombre}
            p S/.#{data[0].pventa}
          div
            form#formCompra(action="/test" method="POST")
              input(type='hidden' name='cliente' value='#{user.username}')
              input(type='hidden' name='correo' value='#{user.email}')
              input(type='hidden' name='phone' value='#{user.celular}')
              input(type='hidden' name='prenda' value='#{data[0].nombre}')
              input(type='hidden' name='marca' value='#{data[0].marca.nombre}')
              .input-field.col.s12
                select.icons
                  option(value='', disabled='', selected='') ELIGE COLOR
                  each thing in data[0].colores
                    option.left.circle(value='#{thing}') #{thing}
              div
                ul.collapsible(data-collapsible='accordion')
                  li
                    .collapsible-header
                      i.material-icons subject
                      | DESCRIPCION
                    .collapsible-body
                      span #{data[0].descripcion]
                  li
                    .collapsible-header
                      i.material-icons playlist_add
                      | MARCA
                    .collapsible-body
                      span #{data[0].marca.nombre]
                  li
                    .collapsible-header
                      i.material-icons location_on
                      | ENTALLE
                    .collapsible-body
                      span #{data[0].entalle]

              div
                p
                  | Se entregara en: 
                  b 2 a 4 dias laborables
                a#btnDelivery.waves-effect.waves-light.black.btn.botonesComprar Pedir Delivery
                br
                br
                a#btnTienda.waves-effect.waves-light.black.btn.botonesComprar Probar en Tienda
      // NOTE: BEST SELLER
      .row.bestseller.grey.darken-4
        p.bestseller-title #{user.username}, ¡Estas prendas también van contigo!
        div
          div
            ul#content-slider.content-slider
              each thing in otros
                li.container-best-slide
                  img(src='#{thing.mainImg}', alt='')
                  .center-best-slide
                    a.button-best #{thing.nombre}
                    p S/ #{thing.pventa}
                    p #{thing.entalle} fit
                    a.waves-effect.white.btn.helvetica2.black-text.text-black(href='/comprar/#{thing._id}') COMPRAR

    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Gento, la forma más inteligente de comprar ropa.
            p.grey-text.text-lighten-4
              span Recuerda que al comprar en Gento, medimos tus tallas,
              br
              span analizamos tu estilo para buscar en todas las tiendas
              br
              span y poder ofrecerte las mejores prendas personalizadas para ti.
          .col.l4.offset-l2.s12
            h5.white-text Síguenos en Redes Sociales
            ul
              li
                a.grey-text.text-lighten-3(target='blank', href='https://facebook.com/gentoapp')
                  i.fa.fa-facebook
                  p Facebook
              li
                a.grey-text.text-lighten-3(target='blank', href='https://twitter.com/gentoapp')
                  i.fa.fa-twitter
                  p Twitter
              li
                a.grey-text.text-lighten-3(target='blank', href='https://instagram.com/gentoapp')
                  i.fa.fa-instagram
                  p Instagram
      .footer-copyright
        .container
          strong hola@gento.pe  |  © 2017 GENTO  
    // Import jQuery before materialize.js
    script(type='text/javascript', src='/js/jQuery-3.1.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/headroom.min.js')
    script(src='/js/explorar.js')
    script(src='/js/comprar.js')
